<div class ="container artist">
	<div class= "row">
		<div class="col-sm-12">
			<header>
				<h1> Artistas nuevos:</h1>
			</header>
			<div class="artist-list">

					<div class = "room">
						<div class= "row">
							<div class="col-sm-7 col-md-8">
								<%= form_for @artist do |f| %>
									<h4>Nombre:</h4>
									<dir class = "form-group">
										<%= f.text_field :name, class: 'form-control input-lg'%>
									</dir>
									<h4>Imagen:</h4>
									<dir class = "form-group">
										<%= f.text_field :image_url, class: 'form-control input-lg'%>
									</dir>
									<div class="actions text-right">
										<%= f.submit @artist.new_record? ? "Crear artista ": "Editar artista", class: "btn btn-primary btn-lg btn-block" %>
									</div>
								<% end %>
							</div>

						</div>
					</div>
			</div>
		</div>
	</div>
</div>
